root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
continuation_indent_size = 4
max_line_length = 140

[*.{xml,xml.example}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
